<div  ng-controller="MerchantsBankController">
    <h4>{{$root.companyName}}</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="width:  67%;">
                <div class="card-body" style="width:100%;">
                    <div class="starttime" style="text-align: center;display: inline-block;margin-right: 15px;margin-top: 39px">
                        <span><label class="h4" style="color:#B0BEC5" >请选择起始时间:</label></span>
                        <span>
                                          <wui-date
                                                  format="yyyy-mm-dd"
                                                  placeholder="起始时间"
                                                  id="startTime"
                                                  btns="{'ok':'确定','now':'此刻'}"
                                                  ng-model="startTime"
                                          >
                                    </wui-date>
                                    </span>

                    </div>
                    <div class=endtime" style="text-align: center;display: inline-block;margin-right: 30px;margin-top: 39px">
                        <span><label class="h4" style="color:#B0BEC5" >请选择截止时间:</label></span>
                        <span>
                                          <wui-date

                                                  format="yyyy-mm-dd"
                                                  placeholder="截止时间"
                                                  id="endTime"
                                                  btns="{'ok':'确定','now':'此刻'}"
                                                  ng-model="endTime"
                                          >
                                    </wui-date>
                                    </span>
                    </div>
                    <div class="form-group" style="display:inline-block;text-align: center;margin-right: 10px">
                        <h5 style="color: red" ng-if="errormessage!=''">{{errormessage}}</h5>
                    </div>
                    <div style="width: 263px;height:12px;display: inline-block" ng-if="errormessage==''"></div>
                    <div class="form-group" style="display:inline-block;text-align:center">
                        <input type="button" class="btn  btn-success btn-lg" value="查询" ng-click="getByStartAndEnd()" style="padding: 19px 33px;line-height:7px">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card dataTableCard" >
                <div class="card-body">
                    <h4 class="card-title">中国招商银行</h4>
                    <div class="table-responsive">
                        <table class="table table-bordered dataTable">
                            <thead>
                            <tr>
                                <th >交易日</th>
                                <th >交易时间</th>
                                <th >起息日</th>
                                <th >交易类型</th>
                                <th >借方金额</th>
                                <th >贷方金额</th>
                                <th >余额</th>
                                <th >摘要</th>
                                <th >流水号</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="i in merchantsbankdata">
                                <td title="{{i.transactionDay}}">{{i.transactionDay}}</td>
                                <td title="{{i.transactionHour}}">{{i.transactionHour}}</td>
                                <td title="{{i.interestDate}}">{{i.interestDate}}</td>
                                <td title="{{i.transactionType}}">{{i.transactionType}}</td>
                                <td title="{{i.debitAmount}}">{{i.debitAmount}}</td>
                                <td title="{{i.creditAmount}}">{{i.creditAmount}}</td>
                                <td title="{{i.balance}}">{{i.balance}}</td>
                                <td title="{{i.bankAbstract}}">{{i.bankAbstract}}</td>
                                <td title="{{i.serialNumber}}">{{i.serialNumber}}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 col-md-8" style="margin-left: 10px">
                            <pagination data="data" option="option"
                                        mappinglist ="merchantsbankdata"></pagination>
                        </div>
                        <div class="col-sm-2 col-md-2">
                            <h5>{{'共计: '+data.length+' 条 数据'}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
