<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- 主要三部分配置-->
        <!-- 1.配置数据库信息，必须的-->
        <property name="connection.url">jdbc:mysql://localhost:3306/kidsland</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>

        <!-- 2.配置hibernate信息，可选的-->

        <!-- 输出底层的sql语句-->
        <property name="hibernate.show_sql">true</property>

        <!-- 对底层sql进行格式化-->
        <property name="hibernate.format_sql">true</property>

        <!--配置数据的方言，如mysql中limit
        oracle的rownum-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <property name="hibernate.current_session_context_class">thread</property>
        <mapping class="kisland.kislandmain.DO.AgriculturalBankDO"/>
        <mapping class="kisland.kislandmain.DO.ChinaBankDO"/>
        <mapping class="kisland.kislandmain.DO.EconomicConstructionBankDO"/>
        <mapping class="kisland.kislandmain.DO.IndustrialAndCommercialBankDO"/>
        <mapping class="kisland.kislandmain.DO.MerchantsBankDO"/>
        <mapping class="kisland.kislandmain.DO.MinshengBankDO"/>
        <mapping class="kisland.kislandmain.DO.MerchantsBankDO"/>
        <mapping class="kisland.kislandmain.DO.MinshengBankDO"/>
        <mapping class="kisland.kislandmain.DO.AgriculturalBankDO"/>
        <mapping class="kisland.kislandmain.DO.ChinaBankDO"/>
        <mapping class="kisland.kislandmain.DO.EconomicConstructionBankDO"/>
        <mapping class="kisland.kislandmain.DO.IndustrialAndCommercialBankDO"/>
        <mapping class="kisland.kislandmain.DO.MerchantsBankDO"/>
        <mapping class="kisland.kislandmain.DO.MinshengBankDO"/>
        <mapping class="kisland.kislandmain.DO.AgriculturalBankDO"/>
        <mapping class="kisland.kislandmain.DO.BankBalanceDO"/>
        <mapping class="kisland.kislandmain.DO.ChinaBankDO"/>
        <mapping class="kisland.kislandmain.DO.DbsBankDO"/>
        <mapping class="kisland.kislandmain.DO.EconomicConstructionBankDO"/>
        <mapping class="kisland.kislandmain.DO.IndustrialAndCommercialBankDO"/>
        <mapping class="kisland.kislandmain.DO.MerchantsBankDO"/>
        <mapping class="kisland.kislandmain.DO.MinshengBankDO"/>
        <mapping class="kisland.kislandmain.DO.IncomeAndCharge.ChargeCategoryDO"/>
        <mapping class="kisland.kislandmain.DO.IncomeAndCharge.IncomeCategoryDO"/>
        <mapping class="kisland.kislandmain.DO.ChargeCategoryDO"/>
        <mapping class="kisland.kislandmain.DO.IncomeCategoryDO"/>
        <mapping class="kisland.kislandmain.DO.ChargeCategoryDO"/>
        <mapping class="kisland.kislandmain.DO.IncomeCategoryDO"/>
        <mapping class="kisland.kislandmain.DO.Mapping.PaymentChannelsMappingDO"/>
        <mapping class="kisland.kislandmain.DO.Mapping.ReceivingChannelMappingDO"/>
        <mapping class="kisland.kislandmain.DO.Mapping.PaymentChannelsMappingEntity"/>
        <mapping class="kisland.kislandmain.DO.Mapping.ReceivingChannelMappingEntity"/>
        <mapping class="kisland.kislandmain.DO.Mapping.PaymentMappingDO"/>
        <mapping class="kisland.kislandmain.DO.Mapping.ReceivingMappingDO"/>
        <mapping class="kisland.kislandmain.DO.Mapping.ReceivingMappingDO"/>
        <mapping class="kisland.kislandmain.DO.DbsBankDO"/>

        <!-- 3.把映射文件配置到核心文件中，必须的-->

    </session-factory>
</hibernate-configuration>